/* login画面 */
.login-wrapping {
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直方向の中央揃え */
    height: 100vh; /* 画面全体を使用 */
}

.login-button {
    padding: 10px 20px; /* ボタンの内側の余白 */
    font-size: 16px; /* フォントサイズ */
    background-color: #FFDD57; /* ボタンの背景色 */
    border: none; /* ボーダーなし */
    border-radius: 5px; /* ボタンの角を丸く */
    cursor: pointer; /* ホバー時にポインタ表示 */
}

.body {
    height: 100%;
    overflow-x: hidden;
    /*横スクロールバーを消す*/
}

.header-wrapping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.header-font{
    font-size: 30px;
    padding: 5px;
}

.header-text{
    display: flex;
    align-items: center;
}

.header-text img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 30px;
    height: auto;
    padding: 5px;
}

.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.side-menu {
    width: 15%;
    padding: 10px;
    position: absolute;
    height: 100%;
    background-color: #faa;
    border-right: 20px solid #c7e134;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
}

#list {
    display: none;
}

.side-menu-button {
    display: flex;
    justify-content: left;
}

/* sidemenuのクリックのために追加 */
.clickable-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.clickable-item:hover {
    background-color: #f0f0f0;
}

.delete-button {
    margin-left: 10px;
}
/* sidemenuのクリックのため　ここまで */

.main-contents {
    margin-left: 18%;
    /* サイドメニューの幅と余白に合わせて調整 */
    padding: 10px;
    background-color: rgba(255, 170, 170, 0.174);
    flex: 1;
    /* メインコンテンツが横幅全体に広がるように */
    display: flex;
    flex-direction: column;
    position: relative;
    /* 重なりを避けるためにrelativeを設定 */
}

h1 {
    font-size: 50px;
}

#memo {
    height: 300px;
    /* 高さを300pxに設定 */
}

.hidden {
    display: none;
}