/* login画面設定 */
.login-wrapping {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直方向の中央揃え */
    height: 100vh;
    /* 画面全体を使用 */
}

.login-button {
    padding: 10px 20px;
    /* ボタンの内側の余白 */
    font-size: 16px;
    /* フォントサイズ */
    background-color: #FFDD57;
    /* ボタンの背景色 */
    border: none;
    /* ボーダーなし */
    border-radius: 5px;
    /* ボタンの角を丸く */
    cursor: pointer;
    /* ホバー時にポインタ表示 */
}

/* login画面設定終了 */

.body {
    height: 100%;
    overflow-x: hidden;
    /*横スクロールバーを消す*/
}

.header-wrapping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.header-font {
    font-size: 30px;
    padding: 5px;
}

.header-text {
    display: flex;
    align-items: center;
}

.header-text img {
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    width: 30px;
    height: auto;
    padding: 5px;
}

.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.side-menu {
    width: 15%;
    padding: 10px;
    position: absolute;
    height: 100%;
    background-color: #faa;
    border-right: 20px solid #c7e134;
    display: flex;
    flex-direction: column;
    margin-right: 5px; /* サイドメニューとメインコンテンツの間隔 */
}

.list {
    display: flex;
    flex-direction: column;
}

#list {
    display: none;
}

.side-menu-button {
    display: flex;
    justify-content: left;
}

/* サイドメニューを縮小したときのスタイル */
.collapsed {
    width: 50px; /* 縮小する幅 */
    border-right: 5px solid #c7e134; /* 縮小時のボーダーを狭める */
    margin-right: 5px; /* 縮小時も間隔を保つ */
    overflow: hidden; /* はみ出した要素を非表示に */
}

.collapsed #list_display_switch {
    display: block; /* ボタンは表示 */
}

.collapsed .notebooks,
.collapsed .side-menu-button {
    display: none; /* 他の要素は非表示 */
}
/* サイドメニューを縮小したときのスタイル終わり */

/* sidemenuの要素クリックのために追加 */
.clickable-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.clickable-item:hover {
    background-color: #f0f0f0;
}

.delete-button {
    margin-left: 10px;
}

/* sidemenuのクリック 終了 */

.main-contents {
    margin-left: 18%;
    /* サイドメニューの幅と余白に合わせて調整 */
    margin-left: calc(15% + 25px); /* 15%幅 + border + 間隔 */
    padding: 10px;
    background-color: rgba(255, 170, 170, 0.174);
    flex: 1;
    /* メインコンテンツが横幅全体に広がるように */
    display: flex;
    flex-direction: column;
    position: relative;
    /* 重なりを避けるためにrelativeを設定 */
}

/* タグをカッコ内に表示 */
.tags {
    color: #555;
    font-size: 0.9em;
    margin-left: 5px;
}

#tags {
    display: inline-block; /* 要素を表示 */
    width: 100%; /* 必要に応じて調整 */
    padding: 8px; /* 適切なパディング */
    border: 1px solid #ccc; /* 必要に応じてボーダーを調整 */
    box-sizing: border-box; /* パディングを含めた幅の調整 */
}

/* サイドメニューを縮めたときのメインコンテンツの幅の処理 */
.collapsed+.main-contents {
    margin-left: 60px; /* サイドメニューが縮小した場合の余白に合わせる (50px幅 + 間隔5px + ボーダー5px) */
}

h1 {
    font-size: 50px;
}

#memo {
    height: 300px;
    /* 高さを300pxに設定 */
}

.hidden {
    display: none;
}